body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
    background-color: #F5E2CE;
    
        font-family: 'Staatliches', sans-serif;
    
    
}

.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.header a{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 78px; /* Mantém espaçamento ajustado */
    max-width: 1100px; /* Define um limite para o container */
    width: 100%; /* Mantém o container ocupando toda a largura necessária */
    margin: 0 auto; /* Centraliza o container na tela */
}

.content, .image-container {
    flex: 0.5; /* Faz com que os elementos ocupem o mesmo espaço */
    max-width: 500px; /* Mantém ambos os elementos com largura controlada */
}

.image {
    max-width: 70%;
}

h1, p, .btn-access {
    text-align: left;
    margin-left: 0; /* Remove deslocamento lateral que poderia estar desalinhando */
}



.btn-access {
    display: inline-block;
    margin-left: 0; /* Removendo margem lateral extra */
}


p, .btn-access {
    text-align: justify;
    color: #B53324;
    margin-left: 40px;
}

h1 {
    margin-left: 40px;
    font-size: 32px;
    text-align: left;
    color: #8A271B;
    margin-bottom: 15px; 
}

.btn-access {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B53324;
    color: #F5E2CE;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-access:hover {
    background-color: #8A271B;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B53324;
    
    color: #F5E2CE;
}

.header h1 a {
    text-decoration: none;
    color: #F5E2CE;
}

